{% extends 'base.html' %}
{% load static %}
{% block content %}

 <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'worker' %}">Login as Staff</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'shop_admin' %}">Login as Admin</a>
    </div>
  </li>
</ul>


<!--
    <div style="position: absolute; top: 40%; width: 100%; text-align: center;">
        <center>
            <table >
                <tr>
                    <h1>
                        <a class="btn btn-primary" href="{% url 'shop_admin' %}" role="button">Login as Admin</a>
                    </h1>
                </tr>
                <tr>
                    <h1>
                        <a class="btn btn-primary" href="{% url 'worker' %}" role="button">Login as Worker</a>
                    </h1>
                </tr>
            </table>


        </center>
    </div>
-->


{% endblock %}