{% extends 'base.html' %}
{% load static %}
{% block content %}

  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
       <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administration</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'shop_admin' %}">Login as Admin</a></li>
      <li><a class="dropdown-item" href="{% url 'worker' %}">Login as Staff</a></li>
    </ul>
  </li>
</ul>
<!--
    <div style="position: absolute; top: 40%; width: 100%; text-align: center;">
        <center>
            <table >
                <tr>
                    <h1>
                        <a class="btn btn-primary" href="{% url 'shop_admin' %}" role="button">Login as Admin</a>
                    </h1>
                </tr>
                <tr>
                    <h1>
                        <a class="btn btn-primary" href="{% url 'worker' %}" role="button">Login as Worker</a>
                    </h1>
                </tr>
            </table>


        </center>
    </div>
-->


{% endblock %}