<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div style="position: absolute; top: 30%; width: 100%; text-align: center;">
        <center>
            <h1>
                Admin Login
            </h1>
            <br>
            <form method="post">
                {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ sa_form.username.label_tag }}</label>
                {{ sa_form.username }}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{ sa_form.password.label_tag }}</label>
                {{ sa_form.password }}
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
             {% if messages %}
                {% for msg in messages %}
                    <span style="color:Orange; padding-bottom: 5px;">
                        {{msg}}
                    </span>
                {% endfor %}
            {% endif %}

        </center>
    </div>

{% endblock %}