{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
        <a class="btn btn-outline-danger" href="{% url 'table1' %}" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-1</div>
        </a>
    </div>
    <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-2</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-3</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-4</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-5</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-6</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-7</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-8</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-9</div>
        </a>
    </div>
      <div class="col">
        <a class="btn btn-outline-danger" href="#" id="items1" role="button">
            <div class="p-3 border bg-dark">Table-10</div>
        </a>
    </div>
  </div>
</div>
    
{% endblock %}