<!doctype html>
{% extends 'base.html' %}
{% block content %}
    <div style="position: absolute; top: 30%; width: 100%; text-align: center;">
        <center>
            <h1>
                Worker's Login
            </h1>
            <br>
            <form method="post">
                {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{{ w_form.username.label_tag }}</label>
                {{ w_form.username }}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{ w_form.password.label_tag }}</label>
                {{ w_form.password }}
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </center>
    </div>






{% endblock %}